{% extends 'base/base.html' %} {% block content %}
<br>
<div>
    <h1 align="center" id="ti">Contrato de Prestación de Servicios</h1>
</div>
<form method="post">
    {% csrf_token %}

    <div class="container">
        <div class="form-group">
            <label for="">{{form.Razon_social_juridica.label}}</label>
            {{form.Razon_social_juridica}}
        </div>

        <div class="form-group">
            <label for="">{{form.Nit_juridica.label}}</label>
            {{form.Nit_juridica}}
        </div>
        <div class="form-group">
            <label for="">{{form.Nombre_representante.label}}</label>
            {{form.Nombre_representante}}
        </div>

        <div class="form-group">
            <label for="">{{form.Cedula_representate.label}}</label>
            {{form.Cedula_representate}}
        </div>
        <div class="form-group">
            <label for="">{{form.Nombre_natural.label}}</label>
            {{form.Nombre_natural}}
        </div>

        <div class="form-group">
            <label for="">{{form.Cedula_contratista.label}}</label>
            {{form.Cedula_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form.Ciudad_contratista.label}}</label>
            {{form.Ciudad_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form.Fecha_nacimiento_contratista.label}}</label>
            {{form.Fecha_nacimiento_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form.Lugar_nacimiento_contratista.label}}</label>
            {{form.Lugar_nacimiento_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form.Actividad_profesional_contratista.label}}</label>
            {{form.Actividad_profesional_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form.Objeto_social_contratista.label}}</label>
            {{form.Objeto_social_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form.Objeto_social_contratante.label}}</label>
            {{form.Objeto_social_contratante}}
        </div>
        <div class="form-group">
            <label for="">{{form.Dedicacion_profesional_natural.label}}</label>
            {{form.Dedicacion_profesional_natural}}
        </div>

        <div class="form-group">
            <label for="">{{form.Finalidad.label}}</label>
            {{form.Finalidad}}
        </div>
        <div class="form-group">
            <label for="">{{form.Servicio_manera_general.label}}</label>
            {{form.Servicio_manera_general}}
        </div>

        <div class="form-group">
            <label for="">{{form.Servicio_prestado_contratista.label}}</label>
            {{form.Servicio_prestado_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form.Paragrafo_primero.label}}</label>
            {{form.Paragrafo_primero}}
        </div>

        <div class="form-group">
            <label for="">{{form.Contraprestacion_numeros.label}}</label>
            {{form.Contraprestacion_numeros}}
        </div>
        <div class="form-group">
            <label for="">{{form.Plazo_sugerido_dias.label}}</label>
            {{form.Plazo_sugerido_dias}}
        </div>
        <div class="form-group">
            <label for="">{{form.Banco.label}}</label>
            {{form.Banco}}
        </div>

        <div class="form-group">
            <label for="">{{form.Tipo_cuenta.label}}</label>
            {{form.Tipo_cuenta}}
        </div>
        <div class="form-group">
            <label for="">{{form.Numero_cuenta.label}}</label>
            {{form.Numero_cuenta}}
        </div>

        <div class="form-group">
            <label for="">{{form.Nombre_titular.label}}</label>
            {{form.Nombre_titular}}
        </div>
        <div class="form-group">
            <label for="">{{form.Cedula_titular.label}}</label>
            {{form.Cedula_titular}}
        </div>
        <div class="form-group">
            <label for="">{{form.Tipo_con.label}}</label>
            {{form.Tipo_con}}
        </div>
        <div class="row">
        
            <div class="col-sm-6">
                <label for="">{{form.Duracion_numeros.label}}</label>
                {{form.Duracion_numeros}}
            </div>
            <div class="col-sm-6">
                <label for="">{{form.Anos_meses.label}}</label>
                {{form.Anos_meses}}
            </div>
        </div>
        <div class="form-group">
            <label for="">{{form.Paragrafo_prueba_opcional.label}}</label>
            {{form.Paragrafo_prueba_opcional}}
        </div>
        <div class="form-group">
            <label for="{{form.Dias_prueba_numeros.name}}">{{form.Dias_prueba_numeros.label}}</label>
            {{form.Dias_prueba_numeros}}
        </div>

        <div class="form-group">
            <label for="{{form.Fecha_prueba.name}}">{{form.Fecha_prueba.label}}</label>
            {{form.Fecha_prueba}}
        </div>
        <div class="form-group">
            <label for="">{{form.Direccion_Fisica_contratante.label}}</label>
            {{form.Direccion_Fisica_contratante}}
        </div>

        <div class="form-group">
            <label for="">{{form.Correo_electronico_contratante.label}}</label>
            {{form.Correo_electronico_contratante}}
        </div>
        <button type="submit" class="btn btn-outline-danger btn-block mb-5">Descargar Contrato en pdf</button>
    </div>
  
</form>

{% endblock %}




