{% extends 'base/base.html' %} {% block content %}
<br>
<div>
    <h1 align="center" id="ti">Contrato de Prestación de Servicios</h1>
</div>

<form method="post">
    {% csrf_token %}

    <div class="container">
        <div class="form-group">
            <label for="form2.Razon_social_juridica.name">{{form2.Razon_social_juridica.label}}</label>
            {{form2.Razon_social_juridica}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Nit_juridica.label}}</label>
            {{form2.Nit_juridica}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Nombre_representante.label}}</label>
            {{form2.Nombre_representante}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Cedula_representate.label}}</label>
            {{form2.Cedula_representate}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Razon_social_juridica_contratista.label}}</label>
            {{form2.Razon_social_juridica_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Nit_juridica_contratista.label}}</label>
            {{form2.Nit_juridica_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Nombre_representante_contratista.label}}</label>
            {{form2.Nombre_representante_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Cedula_representate_contratista.label}}</label>
            {{form2.Cedula_representate_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Actividad_profesional_contratista.label}}</label>
            {{form2.Actividad_profesional_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Objeto_social_contratista.label}}</label>
            {{form2.Objeto_social_contratista}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Objeto_social_contratante.label}}</label>
            {{form2.Objeto_social_contratante}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Dedicacion_profesional_natural.label}}</label>
            {{form2.Dedicacion_profesional_natural}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Finalidad.label}}</label>
            {{form2.Finalidad}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Servicio_manera_general.label}}</label>
            {{form2.Servicio_manera_general}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Servicio_prestado_contratista.label}}</label>
            {{form2.Servicio_prestado_contratista}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Paragrafo_primero.label}}</label>
            {{form2.Paragrafo_primero}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Contraprestacion_numeros.label}}</label>
            {{form2.Contraprestacion_numeros}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Plazo_sugerido_dias.label}}</label>
            {{form2.Plazo_sugerido_dias}}
        </div>
        <div class="form2-group">
            <label for="">{{form2.Banco.label}}</label>
            {{form2.Banco}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Tipo_cuenta.label}}</label>
            {{form2.Tipo_cuenta}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Numero_cuenta.label}}</label>
            {{form2.Numero_cuenta}}
        </div>

        <div class="form-group">
            <label for="">{{form2.Nombre_titular.label}}</label>
            {{form2.Nombre_titular}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Cedula_titular.label}}</label>
            {{form2.Cedula_titular}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Tipo_con.label}}</label>
            {{form2.Tipo_con}}
        </div>
        <div class="row">
        
            <div class="col-sm-6">
                <label for="">{{form2.Duracion_numeros.label}}</label>
                {{form2.Duracion_numeros}}
            </div>
            <div class="col-sm-6">
                <label for="">{{form2.Anos_meses.label}}</label>
                {{form2.Anos_meses}}
            </div>
        </div>
        <div class="form-group">
            <label for="">{{form2.Paragrafo_prueba_opcional.label}}</label>
            {{form2.Paragrafo_prueba_opcional}}
        </div>
        <div class="form-group">
            <label for="{{form2.Dias_prueba_numeros.name}}">{{form2.Dias_prueba_numeros.label}}</label>
            {{form2.Dias_prueba_numeros}}
        </div>

        <div class="form-group">
            <label for="{{form2.Fecha_prueba.name}}">{{form2.Fecha_prueba.label}}</label>
            {{form2.Fecha_prueba}}
        </div>
        <div class="form-group">
            <label for="">{{form2.Direccion_Fisica_contratante.label}}</label>
            {{form2.Direccion_Fisica_contratante}}
        </div>

          <div class="form-group">
             <label for="">{{form2.Correo_electronico_contratante.label}}</label>
             {{form2.Correo_electronico_contratante}}
         </div>
         <button type="submit" class="btn btn-outline-danger btn-block mb-5">Descargar Contrato en pdf</button>
</div>
          
    
</form>

{% endblock %}